
.boxes span{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}